<robot name="SampleField">
  <material name="green">
    <color rgba="0.3 0.5 0.2 1"/>
  </material>
  <link name="Root">
    <inertial>
      <mass value="1e-06" />
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
  </link>
  <link name="StepRightFoot1">
    <inertial>
      <mass value="1e-06" />
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 -0.01" rpy="0.0 -0.0 0.0" />
      <geometry>
        <box size="0.2 0.2 0.02" />
      </geometry>
      <material name="green" />
    </visual>
    <collision>
      <origin xyz="0.0 0.0 -0.01" rpy="0.0 -0.0 0.0" />
      <geometry>
        <box size="0.2 0.2 0.02" />
      </geometry>
      <material name="green" />
    </collision>
  </link>
  <link name="HandleLeftHand1">
    <inertial>
      <mass value="1e-06" />
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="1.57079632679 -3.88578058619e-16 1.57079632679" />
      <geometry>
        <cylinder radius="0.015" length="0.15" />
      </geometry>
      <material name="green" />
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="1.57079632679 -3.88578058619e-16 1.57079632679" />
      <geometry>
        <cylinder radius="0.015" length="0.15" />
      </geometry>
      <material name="green" />
    </collision>
  </link>
  <link name="HandleRightHand1">
    <inertial>
      <mass value="1e-06" />
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 -0.01" rpy="0.0 -0.0 0.0" />
      <geometry>
        <box size="0.2 0.2 0.02" />
      </geometry>
      <material name="green" />
    </visual>
    <collision>
      <origin xyz="0.0 0.0 -0.01" rpy="0.0 -0.0 0.0" />
      <geometry>
        <box size="0.2 0.2 0.02" />
      </geometry>
      <material name="green" />
    </collision>
  </link>
  <joint name="StepRightFoot1" type="fixed">
    <origin xyz="0.9 -0.15 0.05" rpy="-0.349065850399 -0.0 0.0" />
    <parent link="Root" />
    <child link="StepRightFoot1" />
  </joint>
  <joint name="HandleLeftHand1" type="fixed">
    <origin xyz="0.9 0.5 0.8" rpy="0.0 -0.0 0.0" />
    <parent link="Root" />
    <child link="HandleLeftHand1" />
  </joint>
  <joint name="HandleRightHand1" type="fixed">
    <origin xyz="1.8 -0.7 1.0" rpy="-1.57079632679 -0.0 0.0" />
    <parent link="Root" />
    <child link="HandleRightHand1" />
  </joint>
</robot>
