<robot name="SampleStepladder">
  <material name="green">
    <color rgba="0.3 0.5 0.2 1"/>
  </material>
  <link name="Root" />
  <link name="HandrailLeft">
    <inertial>
      <mass value="1e-06" />
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 1.0" rpy="3.14159265359 -0.0 0.0" />
      <geometry>
        <cylinder radius="0.015" length="2.0" />
      </geometry>
      <material name="green" />
    </visual>
  </link>
  <link name="HandrailRight">
    <inertial>
      <mass value="1e-06" />
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 1.0" rpy="3.14159265359 -0.0 0.0" />
      <geometry>
        <cylinder radius="0.015" length="2.0" />
      </geometry>
      <material name="green" />
    </visual>
  </link>
  <link name="Step1">
    <inertial>
      <mass value="1e-06" />
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 -0.01" rpy="0.0 -0.0 0.0" />
      <geometry>
        <box size="0.08 0.6 0.02" />
      </geometry>
      <material name="green" />
    </visual>
  </link>
  <link name="Step2">
    <inertial>
      <mass value="1e-06" />
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 -0.01" rpy="0.0 -0.0 0.0" />
      <geometry>
        <box size="0.08 0.6 0.02" />
      </geometry>
      <material name="green" />
    </visual>
  </link>
  <link name="Step3">
    <inertial>
      <mass value="1e-06" />
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 -0.01" rpy="0.0 -0.0 0.0" />
      <geometry>
        <box size="0.08 0.6 0.02" />
      </geometry>
      <material name="green" />
    </visual>
  </link>
  <link name="Step4">
    <inertial>
      <mass value="1e-06" />
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 -0.01" rpy="0.0 -0.0 0.0" />
      <geometry>
        <box size="0.08 0.6 0.02" />
      </geometry>
      <material name="green" />
    </visual>
  </link>
  <link name="Step5">
    <inertial>
      <mass value="1e-06" />
      <origin xyz="0 0 0" rpy="0 -0 0" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 -0.01" rpy="0.0 -0.0 0.0" />
      <geometry>
        <box size="0.08 0.6 0.02" />
      </geometry>
      <material name="green" />
    </visual>
  </link>
  <joint name="HandrailLeft" type="fixed">
    <origin xyz="0.0 0.3 0.0" rpy="-0.0 0.261799387799 -0.0" />
    <parent link="Root" />
    <child link="HandrailLeft" />
  </joint>
  <joint name="HandrailRight" type="fixed">
    <origin xyz="0.0 -0.3 0.0" rpy="-0.0 0.261799387799 -0.0" />
    <parent link="Root" />
    <child link="HandrailRight" />
  </joint>
  <joint name="Step1" type="fixed">
    <origin xyz="0.05358983848622454 0.0 0.2" rpy="0.0 -0.0 0.0" />
    <parent link="Root" />
    <child link="Step1" />
  </joint>
  <joint name="Step2" type="fixed">
    <origin xyz="0.10717967697244908 0.0 0.4" rpy="0.0 -0.0 0.0" />
    <parent link="Root" />
    <child link="Step2" />
  </joint>
  <joint name="Step3" type="fixed">
    <origin xyz="0.1607695154586736 0.0 0.6" rpy="0.0 -0.0 0.0" />
    <parent link="Root" />
    <child link="Step3" />
  </joint>
  <joint name="Step4" type="fixed">
    <origin xyz="0.21435935394489816 0.0 0.8" rpy="0.0 -0.0 0.0" />
    <parent link="Root" />
    <child link="Step4" />
  </joint>
  <joint name="Step5" type="fixed">
    <origin xyz="0.2679491924311227 0.0 1.0" rpy="0.0 -0.0 0.0" />
    <parent link="Root" />
    <child link="Step5" />
  </joint>
</robot>
